- name: "Instalar Apache2 y mysql_client"
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - apache2
    - mariadb-client

- name: "Crear el virtualhost web"
  template:
    src: andypracticaansible.conf
    dest: /etc/apache2/sites-available/andypracticaansible.conf
    owner: root
    group: root
    mode: '0644'

- name: "Activar el virtualhost web"
  file:
    src: /etc/apache2/sites-available/andypracticaansible.conf
    dest: /etc/apache2/sites-enabled/andyracticaansible.conf
    state: link

- name: "Crear el virtualhost db"
  template:
    src: andypracticaansible_bd.conf
    dest: /etc/apache2/sites-available/andypracticaansible_bd.conf
    owner: root
    group: root
    mode: '0644'

- name: "Activar el virtualhost db"
  file:
    src: /etc/apache2/sites-available/andypracticaansible_bd.conf
    dest: /etc/apache2/sites-enabled/andypracticaansible_bd.conf
    state: link

- name: "Crear un directorio (file, status: directory)"
  file:
    path: /var/www/html
    state: directory

- name: "Activar el módulo rewriter (apache2_modules)"
  apache2_module:
    name: rewrite
    state: present

- name: "Copiar index.html personalizado"
  copy:
    src: index.html
    dest: /var/www/html/index.html
    owner: www-data
    group: www-data
    mode: '0644'

- name: "Resolución estática web"
  lineinfile:
    path: /etc/hosts
    line: '{{ip_interna_web}} www.andypracticaansible.com'
  become: yes

- name: "Resolución estática bd"
  lineinfile:
    path: /etc/hosts
    line: '{{ip_reddatos_bd}} bd.andres.com'
  become: yes

- name: "Copiar fichero de configuración y reiniciar el servicio"
  copy:
    src: /etc/apache2/ports.conf
    dest: /etc/apache2/ports.conf
    owner: root
    group: root
    mode: '0644'
  notify: restart apache2
